# Data entry check - Hannah

In [ ]:
# setwd("ORIGINAL PATH REMOVED")
dat <- read.csv(file='somalia_all_data.csv', header=TRUE, stringsAsFactors=FALSE)

# if Somalia database has been changed and csv resaved, run date_converter.R 
#write.csv(dat, file='somalia_line_listing_TOCHECK.csv', na='NA', row.names=FALSE)

colnames(dat)[1] <- 'Nat.case.ser.no'
head(dat)

  Nat.case.ser.no Age Sex Date.onset.rash Date.detected Village  District
1   NA             6  F   1977-09-02      1977-09-28    Agalsar  Koryole
2    1            70  F   1976-08-30      NA
3   10             6  F   1976-10-12      NA
4  100             3  M   1977-04-06      1977-04-20    Bada     Baidoa
5 1000            13  F   1977-05-15      1977-05-27    Warmalin Baidoa
6 1001             5  F   1977-05-24      1977-05-28    Madabey  Wajid
  Region               National.outbreak.Number Reg.outbreak.no Adobe.page.ref
1 Lower Shabelle        NA                       76               6
2 Mogadishu (Banaadir)   1                       NA             226
3 Mogadishu (Banaadir)   1                       NA             226
4 Bay                   30                       NA             220
5 Bay                  308                      137             160
6 Bakool               309                       38             160
  Comment Corresponding.Outbreak.Info.page.number
1         NA
2         NA
3         NA
4         NA
5         NA
6         NA

In [3]:
# have previously checked all entries where date detected preceeds date onset

# check for unique nat case 
paste('Number of case numbers is equal to number of unique case numbers:', length(dat$Nat.case.ser.no) == length(unique(dat$Nat.case.ser.no)), ' ')
nat_count <- data.frame(table(dat$Nat.case.ser.no))
nat_notunique <- nat_count[nat_count[,2]>1,]
dim(nat_notunique)[1] == 0
### ### ### 11/11/19 31 duplicates 
# duplication of 2100s???
### ### ### 25/11/19 27 duplicates
### ### ### 28/11/19 17 duplicates

[1] "Number of case numbers is equal to number of unique case numbers: TRUE  "

[1] TRUE

In [4]:
# check for max label
max(dat$Nat.case.ser.no,na.rm=TRUE) == 3257

### ### ### 26/11/19 
# max label check: 2 exceeded max case number of 3257

### ### ### 28/11/19
# 1799 duplicated - mismatch between district, nat outbreak no, reg outbreak no and page no - deleted entry which didn't match line list

[1] TRUE

In [5]:
# check for missing numbers between 1-3257
missing_case_numbers = setdiff(1:3257, dat$Nat.case.ser.no)
### ### ### 26/11/19
# two unnumbered entries on page 6
# 151 empty line on page 217
# 1353 not on line card
# 1913 empty except 25w in date detected column
# 2172 not on line card
# 3227 and 3228 do not appear on the line card - there are two un-labelled entries between 3226 and 3229, 
# but 3228 is on outbreak card (page 234)
# case 237 is not smallpox

# where there are inconcistencies between line list and outbreak, line list has been used

# missing case numbers in setdiff are the same as the known missing case numbers
all(missing_case_numbers == c(151, 1353, 1913, 2172, 3227))

[1] TRUE

In [6]:
# check expected number of entries matches actual number 
max_case <- 3257
duplicates <- 0
unlabeled <- 1
missing_entries <- 5
max_case - missing_entries + unlabeled == 3253

[1] TRUE

In [7]:
# check that district-region combos are the same

# check that each district appears with the same region
district_region <- unique(dat[7:8])
#district_region

all(district_region[duplicated(district_region$District),'District'] == '')
# don't care about ''
### ### ### 28/11/19 'Luk' appears in Bay (1 entry) and Gedo - fixed

[1] TRUE

In [8]:
# check that each villiage appeas with the same district
village_district <- unique(dat[6:7])
all(village_district[duplicated(village_district$Village), 'Village'] == '')

[1] TRUE

In [9]:
# randomly select 10% to check 
lines = nrow(dat)

In [10]:
#set.seed(6)
#sample_to_check = dat[sample(lines, ceiling(0.1*lines)),]

#write.csv(sample_to_check, 'sample_lines_to_check.csv')
# sample_lines_beforecheck_forcomparisontoupdated.csv  is prechecked 10% csv for comparison of 
# percentage errors
# full_data_beforecheck_forcomparisontoupdated.csv is prechecked full data for comparison

In [11]:
# Percentages of change
sample_precheck <- read.csv(file='sample_lines_beforecheck_forcomparisontoupdated.csv', header=TRUE, stringsAsFactors=FALSE, row.names=1)
full_precheck <- read.csv(file='full_data_beforecheck_forcomparisontoupdated.csv', header=TRUE, stringsAsFactors=FALSE, row.names=1)

In [23]:
#sample_caseno <- sample_precheck$Nat.case.ser.no
sample_checked <- dat[dat$Nat.case.ser.no %in% sample_precheck$Nat.case.ser.no,]
sample_checked <- sample_checked[match(sample_precheck$Nat.case.ser.no, sample_checked$Nat.case.ser.no),]
#sample_checked$Nat.case.ser.no %in% sample_precheck$Nat.case.ser.no

head(sample_precheck)
head(sample_checked)

     Nat.case.ser.no Age Sex Date.onset.rash Date.detected Village
2869  652            14  M   1977-04-01      1977-05-25    Duboy
10   1004            70  M   1977-05-25      1977-05-31    Gubey
941  1845            22  M   1977-04-09      1977-06-19    Bilakey (2)
334  1297             3  M   1977-04-15      1977-06-13    Mundul Jall
2660  464            48  F   1977-05-08      1977-05-09    Warurie
1340 2205            NA      NA              NA            Mora Garad
     District  Region National.outbreak.Number Reg.outbreak.no Adobe.page.ref
2869 Kansadere Bay    199                      78              183
10   Wajid     Bakool 308                      39              160
941  Wajid     Bakool 547                      20              100
334  Bardere   Gedo    NA                       7              140
2660 Baidoa    Bay     73                      31              196
1340 Huddum    Bakool  NA                      NA               75
     Comment Corresponding.Outbreak.Info.page.number
2869         NA
10           NA
941          NA
334          NA
2660         NA
1340         NA

     Nat.case.ser.no Age Sex Date.onset.rash Date.detected Village
2869  652            14  M   1977-04-01      1977-05-25    Duboy
9    1004            70  M   1977-05-25      1977-05-31    Gubey
940  1845             2  M   1977-04-19      1977-06-19    Bilakey (2)
333  1297             3  M   1977-04-15      1977-06-13    Mundul Jall
2660  464            48  F   1977-05-08      1977-05-09    Warurie
1339 2205            NA      NA              NA            Mora Garad
     District  Region National.outbreak.Number Reg.outbreak.no Adobe.page.ref
2869 Kansadere Bay    199                      78              183
9    Wajid     Bakool 310                      39              160
940  Wajid     Bakool 547                      20              100
333  Bardere   Gedo    NA                       7              140
2660 Baidoa    Bay     73                      31              196
1339 Huddum    Bakool 230                      NA               75
     Comment Corresponding.Outbreak.Info.page.number
2869         NA
9            NA
940          NA
333          NA
2660         NA
1339         NA

In [27]:
sample_compare <- sample_precheck==sample_checked

# how are na's counted
# how many lines have an error
# how many errors in total
table(sample_compare)
# how many errors in each column

sample_compare
FALSE  TRUE
   56  3677

In [29]:
length(unique(sample_precheck$Adobe.page.ref))

[1] 168

In [34]:
identical(sample_precheck, sample_checked)

[1] FALSE

In [35]:
56/3677

[1] 0.01522981

In [41]:
# generate 10% for Joe to check 
# 326 lines from the remaining 90% of dat
#index_first10pc <- which(dat$Nat.case.ser.no %in% sample_precheck$Nat.case.ser.no)
#remainder <- dat[-index_first10pc,]

In [ ]:
# select 10% for Reviewer to check, and save
#set.seed(46656)
#sample_reviewer_to_check = remainder[sample(nrow(remainder), 326),]

#write.csv(sample_reviewer_to_check, 'sample_lines_reviewer_to_check.csv')

## Percentage error for 2 * 10% checks (reviewers 1 and 2)
see Error_calcs notebook